body {
    background-color: rgb(182, 234, 255);
}

#board {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 145, 163);
    position: relative;
}

#player {
    width: 10vw;
    height: 20vh;
    background-color: crimson;
    position: absolute;
}