body {
    background-color: rgb(182, 234, 255);
}

#board {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 145, 163);
    position: relative;
}

#player {
    background-color: rgb(241, 173, 45);
    position: absolute;
}

.obstacle {
    background-color: rgb(206, 7, 83);
    position: absolute;
}