body {
    background-color: rgb(182, 234, 255);
}

#board {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 145, 163);
    background-image: url("../img/background.jpg");
    background-repeat: repeat-x;
    background-size: auto 100%;

}

.player {
    background-color: rgb(26, 170, 34);
    position: absolute;
}

.obstacle {
    background-color: rgb(206, 7, 83);
    position: absolute;
}